<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/default.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">JAS Container Demo</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
<div class="divTable societyTable">
<div class="divTableHeading">
<div class="divTableRow">
<div class="divTableHead">Society</div>
<div class="divTableHead">Deeplinks</div>
</div>
</div>
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell"><img src="assets/images/JAS_demo_society.png" alt="JAS demo society" class="inline"/></div>
<div class="divTableCell"><a href="wileyjasaio://?identifier=test_1">JAS Demo DEEEPLINK</a></div>
</div>
<div class="divTableRow">
<div class="divTableCell"><img src="assets/images/AFS_society.png" alt="American Fisheries Society" class="inline"/></div>
<div class="divTableCell"><a href="wileyjasaio://?identifier=test_2">Fisheries Topic DEEEPLINK</a></div>
</div>
<div class="divTableRow">
<div class="divTableCell">cell2_2</div>
<div class="divTableCell">cell2_3</div>
</div>
<div class="divTableRow">
<div class="divTableCell">cell1_4</div>
<div class="divTableCell">cell2_4</div>
</div>
<div class="divTableRow">
<div class="divTableCell">cell1_5</div>
<div class="divTableCell">cell2_5</div>
</div>
<div class="divTableRow">
<div class="divTableCell">cell1_6</div>
<div class="divTableCell">cell2_6</div>
</div>
<div class="divTableRow">
<div class="divTableCell">cell1_7</div>
<div class="divTableCell">cell2_7</div>
</div>
<div class="divTableRow">
<div class="divTableCell">cell1_8</div>
<div class="divTableCell">cell2_8</div>
</div>
<div class="divTableRow">
<div class="divTableCell">cell1_9</div>
<div class="divTableCell">cell2_9</div>
</div>
<div class="divTableRow">
<div class="divTableCell">cell1_10</div>
<div class="divTableCell">cell2_10</div>
</div>
</div>
</div>
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
